{% extends "base.html" %}
{% block content %}
   
<div class="jumbotron ">
    <div align="center">
        <h1 style="color: burlywood;text-shadow: 2px 2px black;">Account Details</h1>
    </div>
</div>

<div class="container bottom-50 border border-white border-4 rounded bg-opacity-75" style="background-color: rgb(222, 184, 135, .75); width: 50%; margin-top: 25px;">
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
            {{form.hidden_tag()}}
        </div>
        <div class="form-group" style="opacity: 100;">
            {{form.username.label(class='form-group text-white')}} 
            {{form.username(class='form-control')}}
        </div>
        <div class="form-group">
            {{form.email.label(class='form-group text-white')}} 
            {{form.email(class='form-control mb-2')}}
        </div>
      
        <div class="form-group">
            {{form.submit(class="btn btn-outline-light mb-2")}}
        </div>
       
       
    </form>
</div>
{% endblock %}


