{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="text-white">Park Posts</h1>
    </div>
    <div class="container" style="align-items: center">
        {% for post in blog_posts.items %}
            <div class="card mb-1 border border-5 border-dark" style="background-color: rgb(240, 248, 255, .80); width: 50%; margin-top: 25px;">
                <div class="car-boy m-2">
                    <h2>
                        <p>{{post.title}}</p>
                        {% if post.author == current_user %}
                        <a href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}" style="font-size: 20px;">Edit</a>
                        {% endif %}
                    </h2>
                    <img src="{{post.image}}" alt="">
                    <p>{{post.text}}</p>
                    by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a>
                    <p>{{post.date.strftime('%Y - %m - %d')}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if blog_posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}